.wrap-aside
  .wrap-left-aside
    +menu(['Верскта',
      'Программирование',
      'Дизайн', 'Проектирование',
      'Архитектура'], 'left-aside'
    )
    .copyright
      | Я в социальных сетях
      br
      a.fa.fa-github.fa-2x.margin-right
      a.fa.fa-facebook.fa-2x.margin-right
      br
      | 2015 - 2016 Аркадий Кожедуб
  .wrap-right-aside
    +menu(['HTML', 'CSS', 'JavaScript'], 'right-aside')
    .previews
      .preview
        .head-block Популярное
        .block
          a.head(href="#") Хорошая музыка под кодинг
          .time Ноябрь 30, 2015
          .content
            p Вы решили заняться веб разработкой и с самого начала может показаться не совсем очевидным с чего же нужно начинать. В этой статье я расскажу про современные техноголгии разработки сайтов и веб-приложений. Итак, для начала давайте окунемся в мир HTML и посмотрим на него "изнутри".
          ul.info
            li
              i.fa.fa-eye.margin-right
              | 367
            li
              i.fa.fa-star.margin-right
              | 12
            li
              i.fa.fa-user.margin-right
              a(href="#") archie
            li
              i.fa.fa-comment.margin-right
              | 135
       .preview
        .head-block Новое
        .block
          a.head(href="#") Хорошая музыка под кодинг
          .time Ноябрь 30, 2015
          .content
            p Вы решили заняться веб разработкой и с самого начала может показаться не совсем очевидным с чего же нужно начинать. В этой статье я расскажу про современные техноголгии разработки сайтов и веб-приложений. Итак, для начала давайте окунемся в мир HTML и посмотрим на него "изнутри".
          ul.info
            li
              i.fa.fa-eye.margin-right
              | 367
            li
              i.fa.fa-star.margin-right
              | 12
            li
              i.fa.fa-user.margin-right
              a(href="#") archie
            li
              i.fa.fa-comment.margin-right
              | 135
