extends layout

mixin menu(list, className)
  ul(class=className)&attributes(attributes)
    each val in list
      li: a(href="#")= val

block content
  .wrap-app
    include ./templates/header/index