extends layout

mixin menu(list, className)
  ul(class=className)&attributes(attributes)
    each val in list
      li: a(href="#")= val

block content
  .wrap-app
    .wrap-header
      header.header
        .header-left
          .logo
            a.logo-link(href="/")
              img.logo-img(src="/images/ui/logo.png")
          .bread-crumbs
            +menu(breadCrumbs, 'list')
        .header-right
          .search-button
          .login-button
      .load-bar
        .progress-line