extends layout

mixin menu(list, className)
  ul(class=className)&attributes(attributes)
    each val in list
      li: a(href="#")= val

block content
  .wrap-app
    .wrap-header
      .search-form#search-form
        input.search-input#search-input(name='search-query', type='text', placeholder="Поиск...")
        a.search-link-close#search-link-close.fa.fa-remove.fa-3x(href='#')
      header.header
        .header-left
          .logo
            a.logo-link(href="/")
              img.logo-img(src="/images/ui/logo.png")
          .bread-crumbs
            +menu(breadCrumbs, 'list')
        .header-right
          if authorized
            .profile-button
              a.profile-link(href='#')
                i.fa.fa-user.margin-right
                | archie
                i.fa.fa-angle-down.margin-left
          else
            .login-button
              a.login-link(href='#')
                i.fa.fa-user.margin-right
                | Войти
          .search-button
            a.search-link#search-link(href='#'): i.fa.fa-search
      .load-bar
        .progress-line