doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  body
    block content
    script(src="/javascripts/libs/jquery-2.1.4.min.js")
    script(src="/javascripts/all.min.js")
