doctype html
html
  head
    meta(charset="utf-8")
    title= title
    each val in includeCss
      link(rel='stylesheet', href="/stylesheets/" + val + ".css")
  body
    .wrap-app
      include ./templates/mixins.jade
      include ./templates/header/index.jade
      include ./templates/aside/index.jade
      block content
    each val in includeJs
      script(src="/javascripts/" + val + ".js")
