body {
  margin: 0;
  padding: 0;
}
.wrap-header {
  background-color: #fff;
}
.wrap-header .header {
  padding: 0 50px;
  height: 100px;
}
.wrap-header .header .header-left {
  float: left;
}
.wrap-header .header .header-left .logo {
  float: left;
}
.wrap-header .header .header-left .logo .logo-link {
  display: block;
  float: left;
}
.wrap-header .header .header-left .bread-crumbs {
  float: left;
}
.wrap-header .header .header-left .bread-crumbs .list {
  list-style-type: none;
}
.wrap-header .header .header-left .bread-crumbs .list li {
  float: left;
}
.wrap-header .header .header-right {
  float: right;
}
.wrap-header .load-bar {
  height: 3px;
  background-color: #e7e7e7;
}
.wrap-header .load-bar .progress-line {
  height: 3px;
  background-color: #00d178;
  width: 0;
}
