color-base = #00d178
color-dark-gray = #8899a0
color-gray = #e7e7e7
color-light-gray = #f2f2f2
color-dark-blue = #004055
color-blue = #008ccd
color-dark-red = #b53023

font-istok = "IstokWebRegular"
font-istok-bold = "IstokWebBold"
font-istok-italic = "IstokWebItalic"
font-istok-bold-italic = "IstokWebBoldItalic"

font-icons = "FontAwesome"

body
  margin 0
  padding 0

@font-face
  font-family: "IstokWebRegular";
  src: url("../fonts/IstokWebRegular/IstokWebRegular.eot");
  src: url("../fonts/IstokWebRegular/IstokWebRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IstokWebRegular/IstokWebRegular.woff") format("woff"),
  url("../fonts/IstokWebRegular/IstokWebRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
@font-face
  font-family: "IstokWebBold";
  src: url("../fonts/IstokWebBold/IstokWebBold.eot");
  src: url("../fonts/IstokWebBold/IstokWebBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IstokWebBold/IstokWebBold.woff") format("woff"),
  url("../fonts/IstokWebBold/IstokWebBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
@font-face
  font-family: "IstokWebItalic";
  src: url("../fonts/IstokWebItalic/IstokWebItalic.eot");
  src: url("../fonts/IstokWebItalic/IstokWebItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IstokWebItalic/IstokWebItalic.woff") format("woff"),
  url("../fonts/IstokWebItalic/IstokWebItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
@font-face
  font-family: "IstokWebBoldItalic";
  src: url("../fonts/IstokWebBoldItalic/IstokWebBoldItalic.eot");
  src: url("../fonts/IstokWebBoldItalic/IstokWebBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IstokWebBoldItalic/IstokWebBoldItalic.woff") format("woff"),
  url("../fonts/IstokWebBoldItalic/IstokWebBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
