.wrap-header
  background-color #fff
  .header
    padding 0 50px
    height 100px
    .header-left
      float left
      .logo
        float left
        .logo-link
          display block
          float left
      .bread-crumbs
        float left
        .list
          list-style-type none
          li
            float left
    .header-right
      float right
  .load-bar
    height 3px
    background-color color-gray
    .progress-line
      height 3px
      background-color color-base
      width 0